# Data Science 2.0 Assignment 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
a = ["sample string",[4,6],6.6,(2,3)]
a

['sample string', [4, 6], 6.6, (2, 3)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
#(i) var1 = String

#(ii) var2 = String

#(iii) var3 = list

#(iv) var4 = Integer (int)

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

     
/ : This operator is used for division of two integers.
% : This is used for modulo operation. It returns the remainder after division of two numbers
// : This is used for floor division. It return the quotient after division. The quotient returned in of type int and not      the float
** : This operator is used for the operation of power. for example 2**3 = 8.

In [3]:
a=10
b=4
print(a/b)
print(a%b)
print(a//b)
print(a**b)

2.5
2
2
10000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
lis = [2,4,6,"hello",'world',6.9,4.5,True,False,9]
for i in lis:
    print(i,"\t",type(i))

2 	 <class 'int'>
4 	 <class 'int'>
6 	 <class 'int'>
hello 	 <class 'str'>
world 	 <class 'str'>
6.9 	 <class 'float'>
4.5 	 <class 'float'>
True 	 <class 'bool'>
False 	 <class 'bool'>
9 	 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [5]:
A = 100
B = 5
i=0
while A%B==0:
    i+=1
    A=A/B
print("A is be divisible by B ",i," times")

A is be divisible by B  2  times

# OR

In [4]:
A = 100
B = 5
while A%B==0:
    print("A is divisible by B ",A/B," times")
    break

A is divisible by B  20.0  times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [6]:
lis = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in lis:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [7]:
#Mutable Data Types : The data types that can be altered or modified after being created are mutable data types. 
#for eg. Lists, Dictionaries
#Immutable Data Types : The data types that cannot be altered or modified after being created are immutable data types. 
#for eg. string, tuple

### Mutable Data Types

In [8]:
# list
lis = [2,3,"helloo"]
lis

[2, 3, 'helloo']

In [9]:
lis[1] = "changed"
lis

[2, 'changed', 'helloo']

In [10]:
#dictionary
dic = {'a':5,'b':'ten','c':15}
dic

{'a': 5, 'b': 'ten', 'c': 15}

In [11]:
dic['b'] = "time three"
dic

{'a': 5, 'b': 'time three', 'c': 15}

### Immutable Data Types

In [12]:
#String
a = "this is sample"
a

'this is sample'

In [13]:
a[3] = 'a'
a

TypeError: 'str' object does not support item assignment

In [ ]:
#tuple
a = (2,3,6,8)
a

In [14]:
a[2] = 22
a

TypeError: 'str' object does not support item assignment